@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background-color: #cccccc;
}

header {
    background-color: #e6ac00;
    padding: 10px 30px;
    position: sticky;
    top: 0;
}

main {
    padding: 10px 30px;
}